<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head') -%>
</head>
<body>
<%- include('./partials/nav') -%>
<div class="blogPageAll">
<div class="bodyBlog">
<div class="blogPageContainer m-4">
    <div class="titlecontainer">
        <h2><%- blog.title %></h2>
    </div>
    <div class="nameContainer">
        <div>
            <span class="m-1" >
                <img src="<%- blog.createdBy.profileImageURL %>" alt="profile" class="rounded-circle" style="width: 30px; height: 30px;">
            </span>
            <a href="/user/profile/<%-blog.createdBy._id%>" class="blogWriterName"><%- blog.createdBy.fullname %></a>

        </div> 
       <div><%- blog.createdAt %> </div>    
    </div>
    
    <div class="imageContainer mx-auto">
        <img src="<%- blog.coverImageURL%>" class="m-3 mx-auto">
    </div>
    <div class="contentContainer">
        <p class="pre-wrap"><%- blog.content %></p>
</div>
</div>
<%- include('./partials/comment') -%>
</div>
<%- include('./partials/footer') -%>

    <%- include('./partials/script') -%>
</body>
</html>